* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100vh;
    font-size: 120%;
  }
.container {
    width: 95%;
    margin: 0 auto;
    height: 100vh;
    padding-top: 5%;
  }
  #map_properties{
    position: fixed;
    top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: calc(100vh - 80px);
  }
  #navbar{
    position: fixed;
    width: 100%;
    background-color: #007bff;;
    z-index: 1;
    padding-left: 7%;
    padding-right: 7%;
  }
/*----- MAP -----*/
#map{
  width: 100%;
  margin-left: 1%;
  margin-bottom: 2%;
}
.activeMarker{
  color: #007bff !important;
}
.activeProperty{
  border-color: #007bff !important;
  border-radius: 7px;
}
/*----- PROPERTIES -----*/
  #properties {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    padding-left: 2%;
  }
  .like{
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0.3;
  }
  .like:hover{
    opacity: 1;
  }
  .opacity{
    opacity: 1;
  }
  .like i{
    color:#ff3547;
  }
  .property img {
    width: 100%;
    height: 250px;
  }
  .property{
      margin: 5%;
      margin-top: 0;
      cursor: pointer;
      border: 3px solid white;
  }
  .property .bed-bath i{
    color:#007bff;;
  }
  .property .bed-bath{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 1.5% 0;
      font-size: 1rem;
      text-align: center;
  }
  .property .bed-bath strong{
    padding: 0 2%;
  }
  .property .agent{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .property .agent h3{
    margin: 0;
    padding-top: 6%;
  }
  .property .uppercase-text{
    text-transform: uppercase;
    font-size:  0.9rem;
    margin-bottom: 1%;
  }
  .property .address-text{
    font-size: 0.8rem;
    margin-bottom: 1%;
  }
/*----- LOGIN/REGISTER -----*/
form{
  width: 50%;
  margin: 5% auto;
}
form .button-form{
  background-color: #007bff; ;
  color: white;
  margin: 0;
}
form .button-form:hover{
  color:white;
}
form a{
  color: #007bff;;
}
a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
  color: #007bff;;
}
form .form-control:focus {
  border-color: #007bff;;
  box-shadow: none;
}
.custom-control-input:checked~.custom-control-label::before{
  border-color: #007bff;;
  background-color: #007bff;;
}
.custom-control-input:focus{
  border-color: #007bff;;
  box-shadow: none;
}
/*----- ACCOUNT -----*/

.subnav-profile a{
  color:#007bff;;
}
.title-delete{
  margin-top: 12%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.btn-delete-account{
  margin: 5% auto;
  background-color: #ff3547;
  color: white;
  width: 40%;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: block !important;
}
.btn-delete-account:hover{
  color:white;
}

/*----- ADD PROPERTY -----*/
.searchCoord{
  font-size: 0.8rem;
  position: absolute;
  bottom: 25px;
  text-align: left;
  padding-left: 5%;
  display: block;
  width: 100%;
}
.fileUpload{
  text-align: left;
}
/*----- MANAGE PROPERTIES -----*/
.pagination .page-item.active .page-link{
  background-color: #007bff;
}
.thead{
  background-color:#007bff;
  color:white;
}
.edit-delete i{
  padding:1%;
  color: #007bff !important;
}

@media(max-width:900px){
  #map{
    display: none;
  }
  #map_properties{
    grid-template-columns: 1fr;
  }
  form{
    width: 80%;
  }
}
@media(max-width: 500px){
  #properties{
    grid-template-columns: 1fr;
  }
  form{
    width: 90%;
  }
}